extends common/layout 

block content
  main
    .how-it-works
      .__dreamshare How Dreamshare works?
      .__block-three-foto
        .__foto-1
          .__title-text
            button.__button-red STEP 1
            .__title
              p.__font Sed leo enim,
              p.__font condimentum
            p.__text
              | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec
              | rhoncus a leo sit amet facilisis.
        .__foto-2
          .__title-text
            button.__button-red-2 STEP 2
            .__title
              p.__font Morbi velit
              p.__font risus
            p.__text-2
              | Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit
              | amet
              | porttitor est.
        .__foto-3
          .__title-text
            button.__button-red STEP 3
            .__title
              p.__font Sed leo enim,
              p.__font condimentum
            p.__text
              | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec
              | rhoncus a leo sit amet facilisis.
    .Meet-partner
      .__meet Meet a partner for your best holiday
      .__person
        .__block
          .__foto-1
            .__backgraund-aicon
              .__aicon
          p.__font Bradley Hunter
          p.__text Based in Chicago. I love playing tennis and loud music.
        .__block
          .__foto-2
            .__backgraund-aicon
              .__aicon
          p.__font Marie Bennett
          p.__text Currently living in Colorado. Lover of art, languages and travelling.
        .__block
          .__foto-3
            .__backgraund-aicon
              .__aicon
          p.__font Diana Wells
          p.__text
            | Living in Athens, Greece. I love black and white classics, chillout music and
            | green tea.
        .__block
          .__foto-4
            .__backgraund-aicon
              .__aicon
          p.__font Christopher Pierce
          p.__text-4 Star Wars fanatic. I have a persistent enthusiasm to create new things.
      button.__button-red See other partners
    .discover
      .__holiday Discover holiday activity ideas
      .__collage
        .__foto-1
          p.__title Sports and Activis
        .__foto-2
          p.__title Wellness and Health
        .__foto-3
          p.__title Extreme Sports
          p.__title and Expeditions
        .__foto-4
          p.__title Games
        .__foto-5
          p.__title Culture and Education
        .__foto-6
          p.__title Enjomet and Relaxation
        .__foto-7
          p.__title Trevelling
    .Interests
      .__title Crate your holiday activity
      .__coment Hi! What are your holiday interests?
      .__block-search
        input(type='__text', placeholder='Enter your insterests')
        button.__button-red Search partners
  hr
