footer
  .__footer-left
    .__block-1 DREAMSHARE
    .__block-2
      | Company
      ul
        li.__list About
        li.__list Contact
        li.__list Press
        li.__list Blog
        li.__list Terms and Privacy
        li.__list Help
    .__block-3 Partners
  .__block-4
    | DESIGNED BY
    .__logo
