header
  .__haed
    .__dreamshare DREAMSHARE
    .__login-signap
      .__login Log in
      button.__button Sign ap
  .__title-text
    .__title
      p.__font SHARE YOUR
      p.__font HOLIDAY DREAM
    p.__text And find the perfect partner to fullfill it
    button.__button-red Find your holiday partner