@font-face {
    font-family: 'Monotserrat-bolt';
    src: url('../fonts/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'Monotserrat-light';
    src: url('../fonts/Montserrat-Light.ttf');
}

@font-face {
    font-family: 'Monotserrat-regular';
    src: url('../fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Black.ttf');
}

@font-face {
    font-family: 'Roboto-light';
    src: url('../fonts/Roboto-Light.ttf');
}
